<%- include header.ejs %>
         <div id="mobile-header" class="mobile-header-v1">
            <div class="container">
               <div class="sixteen columns">
                  <div id="mobile-logo" class="logo">
                     <a href="index.html"><img src="img/USP-Logo-4.png" alt="logo"></a>
                  </div>
                  <a href="#" id="mobile-navigation-btn"><i class="fa fa-bars"></i></a>
               </div>
            </div>
         </div>
         <div id="mobile-navigation">
            <div class="container">
               <div class="sixteen columns">
                  <div class="menu-top-menu-container">
                     <ul id="mobile-nav" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="about-us.html">About</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="faqs.html">FAQs</a></li>
                     </ul>
                  </div>
               
                  <form method="post" id="submit_search" class="header_submit_serach">
                     <div>
                        <input maxlength="16" type="text" placeholder="Enter a Telephone Number to Search" class="search_query_header" >
                     </div>
                     <div class="phone_result header_phn_result "> </div>
                  </form>
               </div>
            </div>
         </div>
         <div id="fulltitle" class="titlebar">
				<div class="container">
					<div id="title" class="ten columns">
						<h1><%=CurrentRecord   %></h1>
					</div>
					<div id="breadcrumbs" class="six columns">
						<div id="crumbs"><a href="index.html">US Phone Number Lookup</a> / <span class="current"> 
                     <% if ( typeof(CurrentRecord) !='undefined') { %>

                        <%=CurrentRecord   %>

                        <% } %>
                     
                  </span></div>					</div>
				</div>
			</div>
         <div class="container"  >
            <div id="content" class="sixteen columns">
               <div class="wpb_row vc_row-fluid standard-section section  section-no-parallax  stretch   " data-speed="1" style="">
                  <div class="col span_12 color-dark left">
                     <div class="vc_col-sm-8 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
                        <div class="wpb_wrapper">
                           <div class="minti_boxedholder   clearfix" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; border-color: #efefef; ">
                              <div class="wpb_text_column wpb_content_element ">
                                 <div class="wpb_wrapper">
                                    <h2>Information about 

                                       <% if ( typeof(CurrentRecord) !='undefined') { %>

                                          <span class="customPhonenno"> <%=CurrentRecord   %></span>
                  
                                          <% } %>
                                    </h2>
                                 </div>
                              </div>
                           </div>
                           <div class="minti_boxedholder   clearfix" style="padding: 10px 0px 10px 10px; margin: 10px 0px 10px 0px; border-radius: 3px; border-width: 4px; border-color: #efefef; ">
                              <div class="wpb_text_column wpb_content_element ">
                                 <div class="wpb_wrapper">
                                    <p>Below is the caller ID information for <strong>

                                       <% if ( typeof(CurrentRecord) !='undefined') { %>

                                          <span class="customPhonenno"><%=CurrentRecord   %></span>
                  
                                          <% } %>
                                    </strong>. Please feel free to leave any feedback. You can flag the number as “Safe” or “Unsafe” and leave any relevant comments concerning the owner of <strong>
                                       <% if ( typeof(CurrentRecord) !='undefined') { %>

                                          <span class="customPhonenno"><%=CurrentRecord   %></span>
                  
                                          <% } %>
                                    </strong>.</p>
                                 </div>
                              </div>
                           </div>
                           <h2 class="headline font-inherit fontsize-l fontweight-700 lh-inherit align-left transform-inherit " style="margin: 10px 0 5px 0;">Telephone Caller ID</h2>
                           <div class="minti_boxedholder   clearfix" style="padding: 25px 0px 25px 10px; margin: 0px 0px 0px 0px; border-radius: 3px; border-width: 4px; border-color: #efefef; ">
                              <div class="wpb_text_column wpb_content_element ">
                                 <div class="wpb_wrapper">
                                    <div class="caller-id-main">
                                       <p style="text-align: center;"><span style="font-size: 36pt; color: #ff9900;" class="customPhonenno"><strong>
                                          <% if (CurrentRecord) { %>

                                            <%=CurrentRecord   %>
                     
                                             <% }else{ %>
                                                404 Not Found!<%=CurrentRecord %>
                                            <% } %>
                                       </strong></span></p>
                                       <p style="text-align: center;"><span style="font-size: 18pt; color: #999999;"></span></p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <h2 class="headline font-inherit fontsize-l fontweight-700 lh-inherit align-left transform-inherit " style="margin: 10px 0 5px 0;">Recent Visitor Activity</h2>
                           <div class="minti_boxedholder   clearfix" style="padding: 20px 20px 20px 20px; margin: 0px 0px 0px 0px; border-radius: 3px; border-width: 4px; border-color: #efefef; ">
                              <div class="wpb_text_column wpb_content_element ">
                                 <div class="wpb_wrapper">
                                    <p><span data-story-id="story_a150756bac7fc5a98afa2c50fbddc12d" data-room-id="room_7e139d7bf26fe4a6224554a3a36c2810" data-timestamp="1584425803007" data-text="<div class=&quot;custom_shortcode&quot;><div class=&quot;vc_col-sm-12 wpb_column column_container col no-padding color-dark&quot; style=&quot;&quot; data-animation=&quot;&quot; data-delay=&quot;&quot;>
                                       <div class=&quot;wpb_wrapper&quot;>
                                       <div class=&quot;caller-id-detail&quot;>
                                       <div class=&quot;recent-activity&quot;>
                                       <div class=&quot;table-responsive&quot;>
                                       <table class=&quot;table table-striped&quot;>
                                       <thead>
                                       <tr>
                                       <th scope=&quot;col&quot;>IP Address of Visitor</th>
                                       <th scope=&quot;col&quot;>Visitor Rating</th>
                                       <th scope=&quot;col&quot;>Timestamp of Rating</th>
                                       </tr>
                                       </thead>
                                       <tbody> 
                                          <tr>
                                       <td>101.0.32.102 Jammu, IN</td>
                                       <td>Marked (208) 262-0000 as <button class=&quot;badge badge-success&quot;>Safe</button></td>
                                       <td>1 day, 3 hours, 53 minutes ago</td>
                                       </tr>
                                     </tbody>
                                       </table>
                                       </div>
                                       </div>
                                       </div>
                                       </div>
                                       </div></div>" data-userid="424143087584133120" data-orgid="424143087588327425"></span></p>
                                    <div class="custom_shortcode">
                                       <div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
                                          <div class="wpb_wrapper">
                                             <div class="caller-id-detail">
                                                <div class="recent-activity">
                                                   <div class="table-responsive">
                                                      <table class="table table-striped">
                                                         <thead>
                                                            <tr>
                                                               <th scope="col">IP Address of Visitor</th>
                                                               <th scope="col">Visitor Rating</th>
                                                               <th scope="col">Timestamp of Rating</th>
                                                            </tr>
                                                         </thead>
                                                         <tbody>
                                                            <tr>
                                                               <td>103.223.8.150 Bathinda, IN</td>
                                                               <td>Marked (312) 222-2570 as <button class="badge badge-danger">Unsafe</button></td>
                                                               <td> ago</td>
                                                           </tr>
                                                            <tr>
                                                               <td>101.0.32.102 Jammu, IN</td>
                                                               <td>Marked (208) 262-0000 as <button class="badge badge-success">Safe</button></td>
                                                               <td>1 day, 3 hours, 53 minutes ago</td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <p></p>
                                 </div>
                              </div>
                           </div>
                           <h2 class="headline font-inherit fontsize-l fontweight-700 lh-inherit align-left transform-inherit " style="margin: 10px 0 5px 0;">Mark this Telephone Number as SAFE or UNSAFE</h2>
                           <div class="minti_boxedholder   clearfix" style="padding: 20px 20px 20px 20px; margin: 0px 0px 0px 0px; border-radius: 3px; border-width: 4px; border-color: #efefef; ">
                              <div class="wpb_text_column wpb_content_element ">
                                 <div class="wpb_wrapper">
                                    <h4>Is the caller from this telephone number “Safe” or “Unsafe”?</h4>
                                    <p>Your rating of this telephone number as Safe or Unsafe is important information for all of our visitors.</p>
                                    <p>Please indicate whether the telephone number that called you is a trusted caller calling for a legtimate purpose, rate it as Safe. If the caller is not a trusted caller, is harassing you, or appears to be a scam, please rate it as Unsafe.</p>
                                    <div class="post-like-dislike-plusCounter-container" style="display: block;">
                                       <div class="button-container-likes-dislike">
                                          <button class="btn-start-1" id="post-like-btn" style="background: rgb(51, 196, 99);">
                                          <i class="fa fa-check-square"></i><span>Safe Caller</span><b>1</b>
                                          </button>
                                          <button class="btn-start-1" id="post-dislike-btn" style="background: rgb(174, 66, 63);">
                                          <i class="fa fa-exclamation-triangle"></i><span>Unsafe Caller</span><b>0</b>
                                          </button>
                                          <label class="switch-on-off" style="display: none;"><input type="checkbox" class="input-on-off"><span class="slider-on-off round"></span></label>
                                       </div>
                                    </div>
                                   
                                 </div>
                              </div>
                           </div>
                           <h2 class="headline font-inherit fontsize-l fontweight-700 lh-inherit align-left transform-inherit " style="margin: 10px 0 5px 0;">
                              <% if (CurrentRecord) { %>
                              Leave a Comment about this Phone Number
                              <% } %>
                           </h2>
                           <div class="minti_boxedholder   clearfix" style="padding: 20px 20px 20px 20px; margin: 0px 0px 0px 0px; border-radius: 3px; border-width: 4px; border-color: #efefef; ">
                              <div class="wpb_text_column wpb_content_element ">
                                 <div class="wpb_wrapper">
                                    
                                    <% if (CurrentRecord) { %>
                                       <div id="disqus_thread"><iframe id="dsq-app8174" name="dsq-app8174" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" title="Disqus" width="100%" src="https://disqus.com/embed/comments/?base=default&amp;f&amp;t_u=file%3A%2F%2F%2FD%3A%2Fabhishek%2520data%2Fwork%2520time%2F2020%2Frahul%2Fphone-number-lookup%2Fpnl%2Fusphonenumberlookup.com%2Fphone-number%2F2082620000%2Findex.html&amp;t_d=Phone%20Number%20%7C%20US%20Phone%20Number%20Lookup&amp;t_t=Phone%20Number%20%7C%20US%20Phone%20Number%20Lookup&amp;s_o=default#version=1799fdfd5fbe62e18668aa208e73c21f" horizontalscrolling="no" verticalscrolling="no" style="height: 75px !important;"></iframe></div>
                                       <script>

                                          /**
                                          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                                          /*
                                          var disqus_config = function () {
                                          this.page.url = https://usphonenumberlookup.com/phone-number/3122222570/;  // Replace PAGE_URL with your page's canonical URL variable
                                          this.page.identifier = 3122222570; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                          };
                                          */
                                          (function() { // DON'T EDIT BELOW THIS LINE
                                          var d = document, s = d.createElement('script');
                                          s.src = 'https://us-phone-number-lookup.disqus.com/embed.js';
                                          s.setAttribute('data-timestamp', +new Date());
                                          (d.head || d.body).appendChild(s);
                                          })();
                                          </script>


                                       <% } %>
                                   
                                    <noscript>Please enable JavaScript to view the <a href='https://disqus.com/?ref_noscript'>comments powered by Disqus.</a></noscript>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="vc_col-sm-4 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
                        <div class="wpb_wrapper">
                           <div class="vc_tta-container" data-vc-action="collapse">
                              <h2>Frequently Asked Questions</h2>
                              <div class="vc_general vc_tta vc_tta-accordion vc_tta-color-grey vc_tta-style-classic vc_tta-shape-square vc_tta-o-shape-group vc_tta-controls-align-left vc_custom_1584700620030">
                                 <div class="vc_tta-panels-container">
                                    <div class="vc_tta-panels">
                                       <div class="vc_tta-panel vc_active" id="1581708414617-f64d7556-a254" data-vc-content=".vc_tta-panel-body">
                                          <div class="vc_tta-panel-heading">
                                             <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1581708414617-f64d7556-a254" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">What Does a Phone Number Flagged as "Unsafe" Mean?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                                          </div>
                                          <div class="vc_tta-panel-body">
                                             <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                   <p>The data provided by our users is critical to helping other visitors determine if a caller was “safe” or “unsafe”. If the telephone number is flagged as “safe”, it can mean that the caller is a trusted, legitimate caller. If the telephone number is flagged as “unsafe”, it may mean that the caller was not calling for a legtimate purpose, is a scammer, or is harassing those that are called.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="vc_tta-panel" id="1581708414673-cfcb014b-2e8c" data-vc-content=".vc_tta-panel-body">
                                          <div class="vc_tta-panel-heading">
                                             <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1581708414673-cfcb014b-2e8c" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">How Can I Post a Comment Anonymously?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                                          </div>
                                          <div class="vc_tta-panel-body">
                                             <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                   <p>If you would like to post a comment without using your name, you can check the “I’d rather post as a guest” box at the bottom of the Disqus comment interface. Once you check “I’d rather post as a guest”, you can choose any name and enter your email address. Your email address will not be displayed, but is required to post a comment.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="vc_tta-panel" id="1584699040305-6fcabc42-47ec" data-vc-content=".vc_tta-panel-body">
                                          <div class="vc_tta-panel-heading">
                                             <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1584699040305-6fcabc42-47ec" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">How Can I Edit or Delete a Comment that I Posted?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                                          </div>
                                          <div class="vc_tta-panel-body">
                                             <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                   <p>If you posted a comment and registered as a Disqus user, you can click the drop down arrow to delete the comemnt you posted, or you can select “Edit” to modify your comment. If you posted a comment as a guest user, please send us an email with the comment and telephone number so that we can edit or remove your comment for you.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="vc_tta-panel" id="1584699195280-6413f973-746a" data-vc-content=".vc_tta-panel-body">
                                          <div class="vc_tta-panel-heading">
                                             <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1584699195280-6413f973-746a" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Why Can't I Find a Phone Number?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                                          </div>
                                          <div class="vc_tta-panel-body">
                                             <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                   <p>In some instances, information on a phone number may be unavailable. There may be several reasons for this, including if the telephone number is not listed in the database, or if a fake telephone number was used.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="vc_tta-panel" id="1584699494354-23e53285-0317" data-vc-content=".vc_tta-panel-body">
                                          <div class="vc_tta-panel-heading">
                                             <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1584699494354-23e53285-0317" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">How Do I Correct a Listing or Remove my Telephone Number from this Website?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                                          </div>
                                          <div class="vc_tta-panel-body">
                                             <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                   <p>To correct a listing or remove a telephone number from our database, simply contact us using the “Number Removal” link below. Please provide your name, email address, and the telephone number at issue.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="divider divider4" style="margin:15px 0 15px 0 !important;"></div>
                           <h2 class="headline font-inherit fontsize-l fontweight-700 lh-inherit align-left transform-inherit " style="margin: 10px 0 5px 0;">Top Searches Today</h2>
                           <div class="custom_shortcode">
                              <div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
                                 <div class="wpb_wrapper">
                                    <div class="caller-id-sidebar">
                                       <div class="sidebar-detail-title">
                                       </div>
                                       <div class="searches-result">
                                          <ul>
                                             <li><a href="number-details.html">(208) 262-0000</a></li>
                                             <li><a href="number-details.html">(405) 583-4910</a></li>
                                             <li><a href="number-details.html">(601) 876-5987</a></li>
                                             <li><a href="number-details.html">(800) 285-8585</a></li>
                                             <li><a href="number-details.html">(800) 347-2683</a></li>
                                             <li><a href="number-details.html">(800) 423-4343</a></li>
                                             <li><a href="number-details.html">(800) 627-8372</a></li>
                                             <li><a href="number-details.html">(800) 847-2911</a></li>
                                             <li><a href="number-details.html">(800) 903-3637</a></li>
                                             <li><a href="number-details.html">(800) 950-5114</a></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end content -->
         </div>
         <!-- end page-wrap -->
        <%- include footer.ejs %>